table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
th, td {
    text-align: left;
    color: #333;
}
td {
    padding: 2px 16px;
}
th {
    padding: 16px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2
}

tr {
    border-bottom: 1px solid #aaa;
}

tr:hover{
    background-color: #e4e4e4;
}

input {
    padding-left: 8px !important;
}

.cont {
    display: grid;
    grid-template-columns: auto auto;
}

.check {
    height: 50%;
    margin-top:50%;
    color: #388E3C;
}

.not-check {
    visibility: hidden
}