<mat-toolbar color="primary">

    <mat-toolbar-row>
        <span class="title">
        <span class="title_elem">{{ title }}</span>
        </span>
      
        <span class="links">
            <mat-nav-list>
                <a href="/" class="nav_list_item"> Home </a>
                <span (click)="logout()" class="nav_list_item"> Logout </span>
            </mat-nav-list>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<!--div.results>h3.header{HEAD}+div.category*6>mat-nav-list>mat-list-item.item-->
<!--div.results>h3.header{HEAD}+div.category*6>table>ng-container*3>th+td-->

<div class="results">
    <h3 class="header" id="ob">ΥΠΟΧΡΕΩΤΙΚΑ ΜΑΘΗΜΑΤΑ</h3>
    <div class="category">
        <app-obligatory></app-obligatory>
    </div>
    <h3 class="header" id="gen">ΜΑΘΗΜΑΤΑ ΓΕΝΙΚΗΣ ΠΑΙΔΕΙΑΣ</h3>
    <div class="category">
        <app-general></app-general>
    </div>
    <h3 class="header" id="lab">ΑΥΤΟΤΕΛΗ ΕΡΓΑΣΤΗΡΙΑ</h3>
    <div class="category">
        <app-labs></app-labs>
    </div>
    <h3 class="header" id="el">ΠΡΟΑΙΡΕΤΙΚΑ ΜΑΘΗΜΑΤΑ</h3>
    <div class="category">
        <app-elective></app-elective>
    </div>
    <h3 class="header" id="bc">ΚΑΤ'ΕΠΙΛΟΓΗΝ ΥΠΟΧΡΕΩΤΙΚΑ ΜΑΘΗΜΑΤΑ</h3>
    <div class="category">
        <app-bychoice></app-bychoice>
    </div>
    <h3 class="header" id="oth">ΑΛΛΑ ΜΑΘΗΜΑΤΑ</h3>
    <div class="category">
        <app-other></app-other>
    </div>
</div>

<div class="side-nav">
    <h4>Go To:</h4>
    <mat-list>
        <mat-list-item><span class="head_links" (click)="scroll('ob')" >1. Υποχρεωτικά</span></mat-list-item>
        <mat-list-item><span class="head_links" (click)="scroll('gen')">2. Γενικής Παιδείας</span></mat-list-item>
        <mat-list-item><span class="head_links" (click)="scroll('lab')">3. Εργαστήρια</span></mat-list-item>
        <mat-list-item><span class="head_links" (click)="scroll('el')">4. Προαιρετικά</span></mat-list-item>
        <mat-list-item><span class="head_links" (click)="scroll('bc')">5. Κατ'επιλογήν υποχρεωτικά</span></mat-list-item>
        <mat-list-item><span class="head_links" (click)="scroll('oth')">6. Άλλα</span></mat-list-item>
    </mat-list>
</div>

<div class="bot-nav">
    <div class="user-info">
        <span>Αριθμός μαθημάτων</span>
        <span>ECTs</span>
        <span>Συνολικός Μ.Ο.</span>
    </div>
    <div class="stats">
        <span>{{total_courses}}</span>
        <span>{{total_ects}}</span>
        <span>{{total_grade | number:'1.2-2'}}</span>
    </div>
    <div class="progress">
        <mat-progress-bar [value]="(this.total_ects/240)*100"></mat-progress-bar>
    </div>
</div>